a {
    text-decoration: none;
    color: black;
}

hr{
	margin: 0px;
}

pre{
	font-size:100% !important;
}

.btn-primary{
	background-color: #7a87e5 !important;
	color:#ffffff;
}

.btn-primary:hover{
	background-color: #535fb4 !important;
}

a:hover {
    text-decoration: none;
    color: black;
}

.v_bar{
    top: -2px;
    position: relative;
}

.border-circle{
	border-radius: 15px;
}


.wait,.wait *{
	cursor: wait !important;
}

.pointer{
	cursor: pointer;
}

/* pagination */
.paginationjs-pages > ul{
	display:flex;
	list-style: none;
	justify-content: center;
}

.paginationjs-pages > ul > li{
	cursor:pointer;
	padding: 10px;
}

.paginationjs-page.active,
.paginationjs-page:hover{
	font-weight: bold;
}

.board-title{
	display: inline-block;
	border-bottom: 5px solid #7a87e5;
}

.board-wrap {
    min-width: 768px;
	min-height: 750px;
	padding: 100px 0;
}


.custom-form-control{
    border: 0px !important;
    border-bottom: 1px solid #ced4da !important;
    border-radius:0px !important;
    padding: 0px 5px !important;
}

.custom-form-control:focus{
	border-bottom: 2px solid #80bdff !important;
    box-shadow: none !important;
}

.inner {
    position: relative;
    padding: 85px 0px 30px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.w-fix{
	min-width: 768px  !important;
}

.font-12 {
	font-size: 12px !important;
}

.font-13 {
	font-size: 13px !important;
}

.font-14 {
	font-size: 14px !important;
}

.font-15 {
	font-size: 15px !important;
}

.font-17 {
	font-size: 17px !important;
}

.font-18 {
	font-size: 18px !important;
}

.font-20 {
	font-size: 20px !important;
}

.font-24 {
	font-size: 24px !important;
}

.font-28 {
	font-size: 28px !important;
}

.font-32 {
	font-size: 32px !important;
}

@media screen and (min-width:576px) {
	.w-sm-100 {
		width: 100% !important
	}
	.w-sm-75 {
		width: 75% !important
	}
	.w-sm-50 {
		width: 50% !important
	}
	.w-sm-25 {
		width: 20% !important
	}
}

@media screen and (min-width:768px) {
	.w-md-100 {
		width: 100% !important
	}
	.w-md-75 {
		width: 75% !important
	}
	.w-md-50 {
		width: 50% !important
	}
	.w-md-25 {
		width: 20% !important
	}
}

@media screen and (min-width:992px) {
	.w-lg-100 {
		width: 100% !important
	}
	.w-lg-75 {
		width: 75% !important
	}
	.w-lg-50 {
		width: 50% !important
	}
	.w-lg-25 {
		width: 20% !important
	}
}