nav {
    width: 1000px;
    margin: 20px auto;
}

main {
    width: 1000px;
    margin: 20px auto;
}

#searchUser {
    margin: 20px 0;
    justify-content: flex-end;
}

.userList {
    cursor: pointer;
}