body, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    font-size: 16px;
    font-weight: 400;
}

body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

header {
    padding: 30px 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

hr {
    margin: 0px;
}

main {
    margin: 20px 0;
}

footer {
    margin-top: 20px;
}

#headerButtonsLogin {
    display: none;
}

#infoNav {
    margin: 10px 0;
}

#infoTitle {
    font-size: 30px;
    font-weight: 600;
    padding-left: 20px;
    margin: 30px 0;
}

.infoItem {
    padding-bottom: 15px;
}

#recordTitle {
    font-size: 20px;
    font-weight: 600;

    margin-top: 15px;
    padding: 20px;
}

@media screen and (max-width:1000px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width:450px) {
    .headerButtonText {
        display: none;
    }
}