
.search-form-wrap{
	position: absolute;
	top:0px;
	right: 0px;
}

.search-form{
	border :1px solid #ced4da;
}

.search-form .form-control:focus,
.search-form .btn:focus{
	outline:0 !important;
	box-shadow: none !important;
}

.sort-nav-warp{
	position:relative;
}

.sort-nav-warp > a{
	position: absolute;
    top: 0px;
    right: 0px;
}
.nav-pills .nav-link{
	font-size: 18px;
	width: 150px;
    text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .show >.nav-link {
    color: #ffffff !important;
    background-color: #7a87e5 !important;
}

.tab-pane{
	padding:30px 0;
}

.option-wrap{
	justify-content: end;
}

.option-wrap > div.form-group{
	width: 100px;
	margin-left:10px;
}

.map-item{
	width: 20%;
	cursor: pointer;
	transition: transform 0.1s ease-out 0s;
}

.map-item .card{
	width: 90%;
}

.map-item:hover {
	transform:translateY(-10px);
}
@media screen and (max-width:1000px) {
	.map-item{
		width: 25%;
	}
    .map-item:nth-child(4) {
        display: none;
    }
}

