.game-container{
    margin: 30px 30px 80px 30px;
}

.canvas {
	max-width: 600px;
    max-height: 600px;
}

.block-board-header{
	background-color: #7a87e5!important;
	border-radius: 15px 15px 0 0;
}

.pass{
	width: 20px;
    top: -4px;
    position: relative;
}
.block-gen{
	display: inline-block;
    width: 183.588px;
}

.block-ass{
	display: inline-block;
}

.block-nav{
	flex:1;
	height: 700px;
	min-width: 600px;
}

.blocklyFlyout{
	border-radius: 0 0 0 15px;
}
.blocklyFlyoutBackground{
	fill:  #e0eaff !important;
}
.blocklySvg{
	width: 100% !important;
	background-color: #ffffff !important;
	border-radius: 0 0 15px 15px;
}

.map-option{
	min-width : 0px !important;
}

.map-option > img{
	width: 120px;
}
.map-container{
	position: relative;
	width: 600px;
    height: 860px;
}

#speed{
	padding: 0px;
    border: 0;
}

.map-help{
	position: absolute;
	top:720px;
	width: 600px;

	background-color: #7a87e5;
	border-radius: 5px;
}

.map-aim{
	background-color: #ffffff;
	border-radius: 5px;
}

.map-aim-title{
	display:inline-block;
	width:50px;
	height:50px;
	background-color: #7a87e5;
	border-radius: 25px;

	text-align:center;
	font:24px;
	font-weight:bold;
	color:#ffffff;
	line-height:50px;
}

.map-aim-content{
	font:20px;
}

.btn-hint{
	background-color:  #e0eaff;
	border-radius: 5px;
	width: 100%;
}

.btn-hint > span{
	font-weight: bold;
	vertical-align: middle;
}

.btn-hint > img{
	width: 30px;
	margin-right: 5px;
}

.btn-container{
	position: absolute;
	top:610px;
	width: 600px;
}

.btn-container .btn{
	width: 166.6px;
	height: 50px;
	font-size:18px;
}


