<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ebgs.mapper.GameMapper">
	<select id="selectGameType" resultType="gameTypeDTO" parameterType="gameTypeDTO">
		SELECT * FROM game_tbl
			<where>
				<if test="gameId != 0">game_id = #{gameId}</if>
				<if test="gameName != null">game_name = #{gameName}</if>
			</where>
	</select>

	<select id="selectGameInfo" resultType="GameInfoDTO" parameterType="GameInfoDTO">
		SELECT * FROM game_info_tbl
			<where>
				<if test="mapId != 0">map_id = #{mapId}</if>
				<if test="gameId != 0">game_id = #{gameId}</if>
				<if test="mapName != null">map_name = #{mapName}</if>
				<if test="authorId != 0 ">author_id = #{authorId}</if>
			</where>
	</select>

	<select id="selectGameRecord" resultType="gameRecordDTO" parameterType="gameRecordDTO">
		SELECT * FROM game_record_tbl
			<where>
				<if test="mapId != 0">map_id = #{mapId}</if>
				<if test="userId != null">user_id = #{userId}</if>
			</where>
	</select>

	<insert id="addGameRecord" parameterType="gameRecordDTO">
		INSERT INTO game_record_tbl(user_id,map_id) VALUES(#{userId},#{mapId})
	</insert>
</mapper>