<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ebgs.mapper.GameMapper">
	<select id="selectGameType" resultType="gameTypeDTO" parameterType="gameTypeDTO">
		SELECT * FROM game_tbl
			<where>
				<if test="gameId != 0">game_id = #{gameId}</if>
				<if test="gameName != null">AND game_name = #{gameName}</if>
			</where>
	</select>

	<select id="selectGameInfo" resultType="gameInfoDTO" parameterType="gameInfoDTO">
		SELECT game_info_tbl.*,game_tbl.game_name,user_tbl.user_nickname as author_nickname FROM
			game_info_tbl
				INNER JOIN
			game_tbl
				ON game_info_tbl.game_id = game_tbl.game_id
				INNER JOIN
			user_tbl
				ON game_info_tbl.author_id = user_tbl.user_id
			<where>
				<if test="mapId != 0">map_id = #{mapId}</if>
				<if test="gameId != 0">AND game_info_tbl.game_id = #{gameId}</if>
				<if test="mapName != null">AND map_name LIKE '%${mapName}%'</if>
				<if test="authorId != null ">AND game_info_tbl.author_id = #{authorId}</if>
				<if test="formal != -1 ">AND formal = #{formal}</if>
			</where>
			ORDER BY map_point ASC;
	</select>

	<select id="selectHotGameInfo" resultType="gameInfoDTO">
		SELECT game_info_tbl.*,game_tbl.game_name,user_tbl.user_nickname as author_nickname FROM
			game_info_tbl
				INNER JOIN
			game_tbl
				ON game_info_tbl.game_id = game_tbl.game_id
				INNER JOIN
			user_tbl
				ON game_info_tbl.author_id = user_tbl.user_id
			ORDER BY reg_date DESC limit 4;
	</select>

	<select id="selectNewGameInfo" resultType="gameInfoDTO">
		SELECT game_info_tbl.*,game_tbl.game_name,user_tbl.user_nickname as author_nickname FROM
			game_info_tbl
				INNER JOIN
			game_tbl
				ON game_info_tbl.game_id = game_tbl.game_id
				INNER JOIN
			user_tbl
				ON game_info_tbl.author_id = user_tbl.user_id
			ORDER BY reg_date DESC limit 4;
	</select>

	<select id="selectGameRecord" resultType="gameRecordDTO" parameterType="gameRecordDTO">
		SELECT * FROM game_record_tbl
			<where>
				<if test="mapId != 0">map_id = #{mapId}</if>
				<if test="userId != null">AND user_id = #{userId}</if>
			</where>
	</select>

	<insert id="addGameContent" parameterType="gameInfoDTO">
		INSERT INTO game_info_tbl(game_id,map_name,author_id,map_data,map_point,formal,thumbnail)
			VALUES(#{gameId},#{mapName},#{authorId},#{mapData},#{mapPoint},#{formal},#{thumbnail})
	</insert>

	<insert id="addGameRecord" parameterType="gameRecordDTO">
		INSERT INTO game_record_tbl(user_id,map_id) VALUES(#{userId},#{mapId})
	</insert>
</mapper>