.map-item{
	width: 25%;
	cursor: pointer;
	transition: transform 0.1s ease-out 0s;
}

.map-item .card{
	width: 90%;
}

.map-item:hover {
	transform:translateY(-10px);
}
@media screen and (max-width:1000px) {
	.map-item{
		width: 33%;
	}
    .map-item:nth-child(4) {
        display: none;
    }
}
