
#globalNavBar {
	position: absolute;
	left: 100px;
	top: 10px;
}

#globalNavBar .nav-link{
	width:150px;
	height: 70px;
	line-height: 70px;
	padding: 0px;
	text-align: center;
}

#globalNavBar .nav-item:hover{
	font-size: 22px;
}
