header{
	padding:0 10px !important;
}

@media screen and (min-width:850px) {
	header{
		padding:0 40px !important;
	}
}

@media screen and (min-width:1100px) {
	header{
		padding:0 100px !important;
	}
}
#globalNavBar {
	position: absolute;
	left: 100px;
	top: 10px;
}

#globalNavBar .nav-link{
	width:150px;
	height: 70px;
	line-height: 70px;
	padding: 0px;
	text-align: center;
}

#globalNavBar .nav-item:hover{
	font-size: 22px;
}
